.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display+SC:wght@700&display=swap");

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.box-shadow {
  box-shadow: 0 0 3px 3px #cccccc38 !important;
}

body {
  background-color: #f5f5f5 !important;
}

.btn-primary {
  background-color: #116cbd !important;
  min-width: 125px;
}

/* index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.step span {
  border: 4px solid #ccc;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: #fff;
  z-index: 9;
  position: relative;
}

.step:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ccc;
  color: #333;
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translate(0px, -50%);
  z-index: 1;
  border-left: 22px solid #fff;
}

.step {
  position: relative;
}

.step:last-child::after {
  content: unset;
}

.step.active span {
  border-color: #223a76;
}

.step.active span:before {
  content: ".";
  position: absolute;
  left: -1.7px;
  top: -41px;
  font-size: 114px;
  line-height: 20px;
  color: #223a76;
}

.step.completed span {
  border-color: #223a76;
  background-color: #223a76;
}

.step.completed span:before {
  content: url(./images/tick.png) !important;
  position: absolute;
  left: 50%;
  top: 58%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.step.completed span {
  position: relative;
}

.step.active span {
  position: relative;
}

.step.completed:after {
  background-color: rgb(34 58 118);
}

.bg-gray {
  background-color: #f5f5f5;
}

.text-gray {
  color: #9b9797;
}

.custom-dropdown input,
input {
  background-color: #f5f5f5 !important;
  border: unset !important;
  width: 100% !important;
  padding: 7px 8px !important;
  border-radius: 5px !important;
  outline: unset !important;
}

.custom-dropdown {
  position: relative;
  display: flex;
  width: 100%;
}

ul#search-results {
  background-color: #fff;
  padding: 5px 10px;
  box-shadow: 0 0 11px 3px #cccccc38;
  border-radius: 0 0 6px 5px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 39px;
  z-index: 1;
}

ul#search-results li {
  list-style-type: none;
  padding: 5px 0;
}

.step:last-child {
  width: 50px !important;
}

table th,
table td {
  padding: 13px 18px !important;
}

.max-height-box {
  height: 416px;
  overflow-y: auto;
}

.max-height-box-search {
  height: 350px;
  overflow-y: auto;
}

.max-height-box::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.max-height-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.max-height-box::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.max-height-box::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p.step-heading {
  position: absolute;
  left: -43px;
  width: 142px;
  font-size: 13px;
  font-weight: 500;
  top: 39px;
  text-align: center;
}

.pb-7 {
  padding-bottom: 70px;
}

.form-check-input {
  width: 4px !important;
  height: 8px !important;
}

.max-height-box2 {
  height: 360px;
  overflow-y: auto;
}

.form-check label {
  text-align: left;
  margin-left: 5px;
  line-height: 20px;
  margin-top: 4px;
}

.chatbot {
  position: fixed;
  right: 58px;
  bottom: 30px;
  z-index: 99;
  background-color: #f5f5f5;
  padding: 10px 10px;
  border-radius: 100px;
  display: none !important;
}

.chatbot-box {
  /* width: 290px;
  height: 300px; */
  width: 360px;
  height: 425px;
  background-color: #fff;
  position: fixed;
  bottom: 100px;
  right: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.container {
  max-width: 100% !important;
}

.custom-stepper {
  text-align: left;
  /* height: 77vh; */
}

.box-style p {
  font-size: 15px;
  margin: 0 0 4px 0;
}

@media only screen and (max-width: 768px) {
  .custom-stepper {
    height: unset !important;
  }

  .step:last-child {
    width: 54px !important;
  }

  p.step-heading {
    display: none;
  }

  .pb-7 {
    padding-bottom: 20px;
  }

  .btn-primary {
    background-color: #116cbd !important;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 3px;
  }

  .table-responsive-md {
    overflow: auto;
    width: 100%;
  }

  .table-style {
    overflow: auto;
    width: 100%;
    display: grid;
    height: 350px;
  }

  table th {
    font-size: 14px;
  }

  .h5,
  h5 {
    font-size: 15px;
  }
}

span.rounde-number {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 21px;
  font-family: auto;
  font-weight: 700;
  box-shadow: 0 0 3px 3px #ccc;
  border: unset;
  background-color: #fff;
  color: #333333d9;
}

.badge-custom {
  background-color: #66b2b2;
  padding: 1px 4px;
  border-radius: 3px;
  color: #fff;
  width: 103px;
  text-align: center;
}

.form-check-input {
  width: 21px !important;
  height: 21px !important;
  border: 1px solid #116cbd !important;
  background-color: #fff !important;
}

.form-check-input:checked {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}

.next-prev-btn {
  /* position: fixed; */
  /* right: 100px;
  bottom: 20px; */
  /* background-color: #fff; */
  padding: 6px 0 !important;
  /* position: fixed !important; */
  /* bottom: 15px;
  right: 45px; */
}
.table-style {
  max-height: 420px;
  overflow-y: auto;
}
.breadcrumb {
  display: flex;
  align-items: center;
  background-color: #32872d !important;
  padding: 6px 4px !important;
  border-radius: 4px !important;
  width: fit-content;
  color: #fff;
}

.breadcrumb-icon {
  margin: 0 0.2rem;
}

.breadcrumb-text {
  font-size: 1rem;
  margin-right: 0.5rem;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.breadcrumb span {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0 6px;
}

.breadcrumb svg {
  font-size: 14px;
}

ol,
ul {
  padding-left: 0px !important;
}

.pa-jm.flexbox {
  overflow: scroll !important;
}

table th {
  background-color: #8080803b !important;
}

.main-stepper-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* overflow: scroll !important; */
  height: calc(100vh - 185px) !important;
  padding: 0 15px !important;
}
.z-0 {
  z-index: 0;
}
.canvasContentDiv .flexbox {
  width: 98% !important;
  min-width: 98% !important;
  margin: 0 auto;
}

.canvasContentDiv {
  width: 100% !important;
  height: 100% !important;
  overflow: scroll;
}
.circle-stepper {
  padding: 15px 0 43px 0 !important;
}
.btn-primary {
  background-color: #223a76 !important;
  border-color: #223a76 !important;
}
.form-check-input:checked {
  background-color: #32872d !important;
  border-color: #32872d !important;
}
h2.h5 {
  font-weight: 600;
  font-size: 18px;
}
table th,
table td {
  vertical-align: middle;
}
.max-height-empty {
  height: calc(100% - 52px);
}
.max-height-box-search .box-shadow:last-child {
  margin-bottom: 0 !important;
}
.steric-style {
  margin-left: -12px;
  margin-right: 7px;
}
textarea {
  resize: none !important;
}
.record-created {
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.loading-box {
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: #3333334f;
  z-index: 9;
}
.mb-15 {
  margin-bottom: 15px;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(34 58 118 / 21%) !important;
}
.fw-600 {
  font-weight: 600 !important;
}
tbody .form-check-input {
  margin: 0 !important;
}
.modal-90w {
  max-width: none !important;
  width: 90% !important;
  border-radius: 0 !important;
  overflow: hidden;
  height: 90%;
}
.custom-modal-body:before {
  width: 100%;
  position: absolute;
  content: "";
  height: 117px;
}
.custom-modal-body {
  margin: -98px 0 0 0 !important;
  border-radius: 0 !important;
}
.custom-modal .modal-content {
  height: 95% !important;
  border-radius: 0 !important;
  overflow: hidden;
}
.modal-header {
  z-index: 999999 !important;
  position: relative !important;
  background-color: #fff !important;
}
